PROCESS_ENVIRONMENT=development
PORT=3535
SECURE_COMMUNICATION=false
PUBLIC_AUTHORIZATION_TOKEN=PUBLIC_AUTHORIZATION_TOKEN

DB_NAME=hk_construction
DB_USER_NAME=hk-construction
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
SEQUELIZE_DIALECT=postgres

VPS_PORT=21
VPS_USER=
VPS_PASSWORD=
VPS_HOST=

CRYPTO_JS_KEY=
CRYPTO_JS_IV=

STORE_TEMP_IMAGE_PATH=public/temp/files
STORE_TEMP_FILE_PATH=public/temp/files
STORE_TEMP_VIDEO_PATH=public/temp/videos
PRODUCT_CSV_FOLDER_PATH=public/csv

FRONT_END_BASE_URL=http://localhost:3000
RESET_PASSWORD_PATH=accounts/recover-password?token=

dev_default_recipient=

OTP_GENERATE_DIGITS=6
INVOICE_NUMBER_DIGIT=6

PRODUCT_BULK_UPLOAD_FILE_MIMETYPE=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
PRODUCT_BULK_UPLOAD_ZIP_MIMETYPE=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
PRODUCT_BULK_UPLOAD_FILE_SIZE=10
PRODUCT_BULK_UPLOAD_ZIP_SIZE=10
PRODUCT_BULK_UPLOAD_BATCH_SIZE=500

PAYMENT_METHOD_SECRET_KEY=

IMAGE_PATH=
APP_NAME=

ORGANIZATION_ID=

# AWS S3
S3_BUCKET_NAME=
S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

# Mail
MAIL_USER_NAME=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=465
MAIL_SECURE=false
MAIL_FROM=
